.text-center {
    margin-top: 5px;
  }
  .Volver-Arriba {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .Volver-Arriba a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  
  .Volver-Arriba a:hover {
    color: #ba9d5a;
  }
  
  .Redes-Sociales {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .Redes-Sociales a {
    margin: 0 5px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .Redes-Sociales a:hover {
    color: #ba9d5a;
  }