.Bienvenida {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
  }
  
  .Texto-Bienvenida {
    margin: auto;
    padding: 50px;
  }
  .Foto-Principal {
    display: flex;
  }