@media screen and (max-width: 1200px) {
  .Bienvenida {
    padding: 10px 0px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .Foto-Principal {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav li {
    transition: 0.5s;
  
    &:hover {
      transform: scale(1.1);
    }
  }
}